body,

ul {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

#logo {
    font-size: large;
    font-weight: bold;
}

#header {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 5px;
    display: flex;
    background-color: rgba(0, 0, 0, .05);
    justify-content: space-between;
    align-items: center;
}

#nav {
    display: flex;
}

.menu {
    display: flex;
    list-style: none;
    gap: 35px;
}

#botao-menu-lista {
    display: none;
}

.conteudo {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.elementos-conteudo {
    border-style: dashed;
    width: 30%;
    background-color: #d3d3d3;
    margin-left: 10px;
    margin-right: 10px;

}

.elementos-conteudo p {
    width: 90%;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 0;
}

.elementos-conteudo a {
    color: black;
    text-decoration: none;
}

.elementos-conteudo a h2 {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0
}


.elementos-conteudo img {
    padding-top: 10px;
    padding-left: 10px;
    width: 64px;
    height: 50px;
}

#contatos {
    display: block;
}

#email {

    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .05);

}

#email h3 {
    font-size: 3em;
    color: rgb(119, 77, 77);
}

#footer {
    margin-top: 5vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 15vh;
}

#main-content {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: spa;
}

#main-content h1 {
    color: rgb(119, 77, 77);
}

#main-img-and-text {
    margin-top: 10%;
    width: 100%;
    background-color: rgba(0, 0, 0, .05);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#main-img-and-text img {
    margin-top: 10%;
    margin-bottom: 10%;
    border: 2px solid;
    border-radius: 50%;
    width: 450px;
    height: 450px;
}

#main-text {
    width: 40%;
}

#main-img {
    width: 40%;
}


#ferramentas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

#ferramentas div {

    padding-bottom: 5vh;
}

#sobre-mim {
    margin-top: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#sobre-mim,
#ferramentas {
    background-color: rgba(0, 0, 0, .05);
}

#sobre-mim h2 {
    color: rgb(119, 77, 77);
    text-align: center;
}


.table-1,
td,
th {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

.redes-sociais {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}

.redes-sociais h3 {
    margin-bottom: 5vh;
    padding-bottom: 0;
    font-size: x-large;
    text-align: center;
    color: rgb(119, 77, 77);
}



@media(max-width: 1020px) {

    #main-img-and-text {
        display: block;
        padding-bottom: 15px;
    }

    #main-text {
        width: 100%;
        text-align: center;
    }

    #main-img {
        display: flex;
        justify-content: center;
        width: 100%;

    }
}

@media (max-width: 600px) {

    #main-content h1 {
        font-size: 1.5em;

    }

    #main-img img {

        width: 350px;
        height: 350px;

    }

    .conteudo {
        margin-top: 5vh;
        margin-bottom: 5vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .elementos-conteudo {
        border-style: dashed;
        width: 90%;
        background-color: #d3d3d3;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;

    }

    #botao-menu-lista {
        display: flex;
        background: none;
        padding-right: 10px;
        border: none;
        cursor: pointer;
    }

    .menu {

        visibility: hidden;
        display: block;
        position: absolute;
        width: 100%;
        top: 50px;
        right: 0px;
        z-index: 10000;
        transition: .6s;
        height: 0;
        background-color: rgba(0, 0, 0, 0.05);
        overflow-y: hidden;


    }

    #nav.active .menu {
        height: calc(100vh - 50px);
        display: block;
        position: absolute;
        flex-direction: column;
        visibility: visible;
        overflow-y: auto;

    }

    .menu li {
        padding-top: 25px;
    }


    .table-1,
    td,
    th {
        border: 1px solid black;
        font-size: 85%;
    }


}

@media (max-width: 470px) {
    #main-text ul {
        list-style: none;
    }
}