{% load static %}

<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Igor Guilherme Almeida Rocha</title>
    <link rel="stylesheet" href="{% static 'blog/css/base_css.css'%}">
</head>


<body>

    <header id="header">
        <a id="logo" href="">Igor</a>
        <nav id="nav">
            <ul class="menu">
                <li><a id="link-sobre-mim" href="#sobre-mim">Sobre mim</a></li>
                <li><a id="link-fer" href="#ferramentas">Ferramentas</a></li>
                <li><a id="link-redes-sociais" href="#redes-sociais">Redes sociais</a></li>
                <li><a id="link-email" href="#email">Contato</a></li>
            </ul>
            <button id="botao-menu-lista">Menu</button>
        </nav>
    </header>

    <div id="main-content">
        <h1> Igor Guilherme Almeida Rocha</h1>
        <div id="main-img-and-text">
            <div id="main-img">
                <img src="{% static 'blog/img/me.jpg' %}" alt="">
            </div>
            <div id="main-text">
                <h2>Desenvolvedor Júnior </h2>
                <ul>
                    <li>Idade: 20 anos.</li>
                    <li>Telefone: (31) 9 8539-0222.</li>
                    <li>Cidade, Estado: Conselheiro Lafaiete Minas Gerais.</li>
                </ul>
            </div>
        </div>
    </div>


    <div id="sobre-mim">
        <h2> <a name="#sobre-mim"> </a>Sobre mim</h2>
        <div id="sobre-mim-conteudo">
            Sou um cara que ama tecnologia, busco sempre estar aprendendo mais e mais. Comecei no ramo da programação no
            início de 2020, período no qual eu comecei a minha faculdade de Sistemas de Informação pelo IFMG - Ouro
            Branco.Atualmente estou no 5º período, com previsao de clonclusão em dezembro de 2023.
            Estou em busca de uma primeira oportunidade de emprego na área de dsenevolvimento de software.
        </div>
    </div>

    <div id="ferramentas">

        <h2 style="color: rgb(119, 77, 77);"> <a name="#fer"></a>Ferramentas</h2>

        <div>
            <table class="table-1">

                <tr>
                    <th>Ferramentas</th>
                    <th>Sobre</th>
                </tr>

                <tr>
                    <td>Java - openjdk11+</td>
                    <td rowspan="2"> Back-End</td>
                </tr>

                <tr>
                    <td> Python3 </td>
                </tr>

                <tr>
                    <td>
                        HTML5, CSS3, JavaScript
                    </td>

                    <td>
                        Front-End
                    </td>
                </tr>

                <tr>

                    <td>Git, GitHub, GitLab</td>
                    <td>Ferramentas de versionamento de código.</td>

                </tr>

                <tr>
                    <td>
                        MySql, PostgreSql
                    </td>

                    <td>
                        Banco de dados.
                    </td>
                </tr>

                <tr>
                    <td>
                        Spring Boot, JavaFX - Java
                    </td>

                    <td rowspan="2">FrameWorks</td>
                </tr>

                <tr>
                    <td>
                        Django - Python
                    </td>
                </tr>

                <tr>
                    <td>
                        Maven - Java
                    </td>

                    <td>
                        Gerenciadores de dependências.
                    </td>
                </tr>

                <tr>
                    <td>
                        Heroku
                    </td>

                    <td>
                        Cloud
                    </td>
                </tr>

            </table>
        </div>

    </div>


    <div class="redes-sociais">
        <h3> <a name="redes-sociais"> </a>Redes Sociais</h3>

        <div class="conteudo">
            <div class="elementos-conteudo">
                <a href="https://www.linkedin.com/in/igor-guilherme-945525214/" target="_blank">
                    <img src="{% static 'blog/img/linked.png'%}" alt="">
                </a>
                <a href="https://www.linkedin.com/in/igor-guilherme-945525214/">
                    <h2>Linkedin</h2>
                </a>
                <p>O linkedin é a maior rede social quando falamos em oportunidades
                    de emprego, principalmente na área de tecnologia.Então cabe a nós
                    ficarmos sempre atuzalizados em relação a ele.
                </p>
            </div>

            <div class="elementos-conteudo">
                <a href="https://gitlab.com/IgorGuilhermeRocha" target="_blank">
                    <img src="{% static 'blog/img/gitlab.png'%}" alt="">
                </a>
                <a href="https://gitlab.com/IgorGuilhermeRocha">
                    <h2>GitLab</h2>
                </a>
                <p> O GitLab é uma das maiores ferramentas de versionamento de código,
                    a maioria dos meus projetos são postados lá, além de ser uma ótima plataforma
                    para prática do CI/CD.
                </p>

            </div>

            <div class="elementos-conteudo">
                <a href="https://www.instagram.com/igor_guilherme_rocha/" target="_blank">
                    <img src="{% static 'blog/img/87390.png'%}">
                </a>
                <a href="https://www.instagram.com/igor_guilherme_rocha/">
                    <h2>Instagram</h2>
                </a>
                <p>Esta é a rede social que eu mais uso, então uma das melhores maneiras de me contactar é por lá.
                </p>
            </div>
        </div>
    </div>


    <div id="email">
        <h3> <a name="#email"> </a> Email</h3>
        <p>igorguilhermedev@gmail.com</p>
    </div>


    <footer id="footer">
        <p>Copyright &copy Igor Guilherme Almeida Rocha</p>
    </footer>


    <script>
        const btnMobile = document.getElementById('botao-menu-lista');
        const mainContent = document.getElementById('main-content');
        const linkSobreMim = document.getElementById('link-sobre-mim');
        const linkFer = document.getElementById('link-fer')
        const linkEmail = document.getElementById('link-email');
        const linkRedesSociais = document.getElementById('link-redes-sociais');


        function toggleMenu() {
            const nav = document.getElementById('nav');
            if (nav.classList != 'active') {
                mainContent.style.visibility = 'hidden';
            } else {
                mainContent.style.visibility = 'visible';
            }
            nav.classList.toggle('active');
        }

        function setMainContentVisible() {
            const nav = document.getElementById('nav');
            nav.classList.toggle('active');
            mainContent.style.visibility = 'visible';
        }

        linkRedesSociais.addEventListener('click', setMainContentVisible);
        linkEmail.addEventListener('click', setMainContentVisible);
        linkFer.addEventListener('click', setMainContentVisible);
        linkSobreMim.addEventListener('click', setMainContentVisible);
        btnMobile.addEventListener('click', toggleMenu);

    </script>
</body>

</html>